$whiteCertificate: #fff;
$linkColor: #e8b9b9;

$lightCertificateTitleColor: $whiteCertificate;
$lightCertificateSubtitleColor: $whiteCertificate;
$lightCertificateLinkColor: $linkColor;

$darkCertificateTitleColor: $whiteCertificate;
$darkCertificateSubtitleColor: $whiteCertificate;
$darkCertificateLinkColor: $linkColor;