$purpleEmbla: #a1259f;
$blueEmbla: #4e0fcc;

//////////////////////////
/// LIGHT
/////////////////////////

$lightEmblaCarouselTitleColor: $blueEmbla; 
$lightEmblaCarouselSubtitleColor: $blueEmbla; 
$lightEmblaCarouselDetailsColor: $blueEmbla;


//////////////////////////
/// DARK
/////////////////////////

$darkEmblaCarouselTitleColor: $purpleEmbla; 
$darkEmblaCarouselSubtitleColor: $purpleEmbla;
$darkEmblaCarouselDetailsColor: $purpleEmbla;