// LIGHT

$lightShapeWaveBackground1:  hsla(280, 95%, 57%, 1);
$lightShapeWaveBackground2:linear-gradient(90deg, hsla(280, 95%, 57%, 1) 0%, hsla(193, 90%, 55%, 1) 100%);
$lightShapeWaveBackground3:-moz-linear-gradient(90deg, hsla(280, 95%, 57%, 1) 0%, hsla(193, 90%, 55%, 1) 100%);
$lightShapeWaveBackground4:-webkit-linear-gradient(90deg, hsla(280, 95%, 57%, 1) 0%, hsla(193, 90%, 55%, 1) 100%);

// DARK

$darkShapeWaveBackground1: hsla(280, 5%, 15%, 1);
$darkShapeWaveBackground2: linear-gradient(90deg, hsla(280, 5%, 15%, 1) 0%, hsla(193, 5%, 25%, 1) 100%);
$darkShapeWaveBackground3: -moz-linear-gradient(90deg, hsla(280, 5%, 15%, 1) 0%, hsla(193, 5%, 25%, 1) 100%);
$darkShapeWaveBackground4: -webkit-linear-gradient(90deg, hsla(280, 5%, 15%, 1) 0%, hsla(193, 5%, 25%, 1) 100%);

