html[data-theme="SuperMan"]{
    --background: #{$lightAboutMeBackground};   
  }
  
  html[data-theme="Batman"]{
    --background: #{$darkAboutMeBackground};
  }

.aboutme-container.blue{    
    background: var(--background);
}

.aboutme-container.gray {
    background: #FFFFFF;
    min-height: 600px;
  }

  .aboutme-container.contact{    
    background: var(--background);
}
  .aboutme-container {
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
}
.contact-card-body{
    backdrop-filter: blur(0px) saturate(200%) !important;
    -webkit-backdrop-filter: blur(0px) saturate(200%)  !important;
    background-color: rgba(255, 255, 255, 0.37) !important;
    border-radius: 12px !important;
    border: 1px solid rgba(209, 213, 219, 0.3) !important;
    color: #FFFFFF  !important;
}

.aboutme-container.gray .content{
    color: #1a1919;
    min-height: 600px;
    display: flex;
    font-weight: 600;
    flex-flow: column;
    justify-content: center;
}

.laboral-place-fromto{
    display: flex ;
    padding: 20px 0;
}
.laboral-from-to{
    flex: 50%;
}
.laboral-place{
    flex: 50%;
}

.contact-info-container{
    display: flex;
    flex-wrap: wrap;
}
.contact-info-container .info{
    flex: 50%;
    padding: 20px;
}