html[data-theme="SuperMan"]{
  --border-top: #{$lightBorderTop};   
}

html[data-theme="Batman"]{
  --border-top: #{$darkBorderTop};
}

.accordion-card {
    border-top: var(--border-top);
    border-radius: 5px;
    margin: 20px 0;
    overflow: hidden;
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);      }
  
  .accordion-header {
    display: flex;
    min-height: 90PX;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #F4F4F4;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .title {
    margin: 0;
    font-size: 1.2em;
    flex-grow: 1;
  }
  
  .date {
    margin-left: 20px;
    color: #1d1d1d;
    font-size: .95em;
  }
  
  .toggle-button {
    background: none;
    border: none;
    font-size: 2.5em;
    cursor: pointer;
  }
  
  .accordion-body {
    padding: 20px;
    background-color: #fff;
    animation: slide-down 0.3s ease-out;
  }
  
  @keyframes slide-down {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 1000px;
      opacity: 1;
    }
  }
  