@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.outfit-thin {
  font-family: "Outfit", sans-serif;
  font-weight: 100;
}

.outfit-light {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.outfit-medium {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

.outfit-black {
  font-family: "Outfit", sans-serif;
  font-weight: 900;
}


body {
  max-width:100vw;
  width: 100%;
  padding: 0;  
  background-color: var(--background-site);
  color: var(--text-high-contrast);
  font-family: "Outfit", sans-serif !important;
  font-weight: 400;
}