.navbar{
    width: 100%;
    height: 80px;
    margin: 0 auto;
  }

  
  .navbar-brand {
    color: #333;
    font-weight: 600;
  }
  .navbar-glass {
    backdrop-filter: blur(12px) saturate(200%);
    -webkit-backdrop-filter: blur(12px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.28);
    // border: 1px solid rgba(209, 213, 219, 0.3);
  }
  
  .navbar-glass .nav-link, .navbar-glass .navbar-brand {
    font-weight: 600;
    font-size: 16px;
    color: #333;
  }
  
  .navbar-glass .nav-link:hover {
    background-color: #333;
    border-radius: 5px;
    color: #fff; 
    transition: color 0.25s;
  }

  .lenguaje-select{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }


  .search-input-navbar,
  .search-button-navbar {
    border-radius: 0;
  }