html[data-theme="SuperMan"]{
  --color: #{$lightNeumorphicButtonColor};
  --title-color: #{$lightNeumorphicTitleColor};

  --box-shadow: #{$lightNeumorphicButtonShadowBox};
  --box-shadowHover: #{$lightNeumorphicButtonShadowBoxHover};
  --box-shadowActive: #{$lightNeumorphicButtonShadowBoxActive};
 
}

html[data-theme="Batman"]{
  --color: #{$darkNeumorphicButtonColor};
  --title-color: #{$darkNeumorphicTitleColor};

  --box-shadow: #{$darkNeumorphicButtonShadowBox};
  --box-shadowHover: #{$darkNeumorphicButtonShadowBoxHover};
  --box-shadowActive: #{$darkNeumorphicButtonShadowBoxActive};
}

.neumorphicbuttons {
  background: #efefef;
  min-height: calc(100vh + 400px);
}

.neumorphicbuttons  h2{
  text-align: center;
  padding-bottom: 20px;
  color: var(--title-color);
}
.neumorphicbuttons .content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}


.neumorphicbuttons .content .neumorphic {
  min-width: 280px;
  height: 180px;
  padding: 1.5em 5em;
  background: #efefef;
  border: none;
  border-radius: .5rem;
  color: var(--color);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: var(--box-shadow);
}
.neumorphicbuttons .neumorphic:hover {
  box-shadow: var(--box-shadowHover);
}
.neumorphicbuttons .neumorphic:active {
  box-shadow: var(--box-shadowActive);
}

// .neumorphic img{
//   filter: drop-shadow(
//     0 0 10px rgba(186, 13, 189, 0.8)
// );
//   // background-color: red;
// }