.presentation-container {   
    width: 100%; 
    display: flex;
    padding: 100px 20px;
    color: #ffffff;    
}

.presentation-info {
    display: flex;
    flex: 80%;
    font-size: 24px;
    text-align: left;
    align-items: center;
}

.presentation-img {
    flex: 20%;
    text-align: end;
}

.presentation-img img {
    filter: drop-shadow(
        0 0 10px rgba(0, 0, 0, .8)
    );
}


@media (max-width: 600px) {
    .presentation-img {
        text-align: center;
    }
    
    .presentation-container {
        flex-flow: column-reverse;
        margin: 0 auto;
    }
    .presentation-info{
        font-size: 20px;
        padding: 30px;
        margin: 0 auto;
    }
}

@media (max-width: 340px) {
    .presentation-img img {
       width: 200px;
    }
}