.custom-shape-divider-bottom-1719202678 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1719202678 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 131px;
}

.custom-shape-divider-bottom-1719202678 .shape-fill {
    fill: #FFFFFF;
}