html[data-theme="SuperMan"]{
  --shape-wave-background: #{$lightShapeWaveBackground};

  --color-white: #{$lightColorWhite};
  --color-black: #{$lightColorBlack};

  --up-button-background: #{$lightBackgroundUpButton};
}

html[data-theme="Batman"]{
  --shape-wave-background: #{$darkShapeWaveBackground};

  --color-white: #{$darkColorWhite};
  --color-black: #{$darkColorBlack};

  --up-button-background: #{$darkBackgroundUpButton};
}

.content {
  max-width: 1600px; 
  width: 100%;
}

.container-shape {
  position: relative;
  background: var(--shape-wave-background);
  min-height: 700px;
  height: auto;
}

.certificate-container {
  background: var(--shape-wave-background);
  min-height: 800px;
  padding: 30px;
}

.certificate-container .title{
  color: var(--color-white);
  font-size: 23px;
  font-weight: 600;
  text-align: end;
}

.certificate-container .subtitle{
  padding-top: 15px;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 600;
  text-align: start;
}

.settingsDropdown{
  min-width: 300px;
}
.up-button {
  background-image: var(--up-button-background);
  min-height: 80px;
  padding: 30px;
  text-align: end;
}

.up-button a {
  min-width: 200px;
  padding: 20px;
}

.up-button a:hover{
  background: #ffffff;
  border: none;
  color: var(--color-white);
  font-weight: 600;
}

@media (max-width: 1026px) {
  .certificate-container {
    padding: 10px;
  }
}